@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

header {
  width: 100%;
  background-color: #020202;
  margin: 0;
}

h1 {
  font-family: "Bangers";
  font-size: 40px;
  margin: 5px;
  background-color: red;
  color: white;
}

.contenedor-imagen-header {
  width: 100%;
  min-height: 400px;
  background-image: url(imagenes/heroes.jpg);
  background-size: cover;
  position: relative;
}

.contenedor-imagen-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

footer {
  width: 100%;
  height: 200px;
  background-color: black;
}
footer h2 {
  color: white;
  font-family: "Roboto";
  font-size: 15px;
}

.fa-heart {
  width: 30px;
  height: 30px;
  color: red;
  font-size: 25px;
}

.seccion-principal {
  font-family: "Roboto";
  margin: 10px;
}

.paginado {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.paginado .boton-paginado {
  width: 40px;
  height: 40px;
  margin: 5px;
  font-size: 25px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
}
.paginado .boton-paginado :hover {
  background-color: red;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}
.contenedor-tarjetas article {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: auto;
}
.contenedor-tarjetas article .image-comic {
  width: 80%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  transition: 0.2s;
}
.contenedor-tarjetas article .image-comic img {
  width: 100%;
  height: auto;
}
.contenedor-tarjetas article .comic-title {
  width: 80%;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

.contenedor-buscador {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.contenedor-buscador .filtros-busqueda {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contenedor-buscador .filtros-busqueda .buscador-input {
  border: 0;
  margin-right: 60px;
  border-bottom: 2px solid #151515;
  width: 120%;
  padding: 5px 35px;
  border-radius: 0;
  font-size: 26px;
  box-sizing: border-box;
  position: relative;
}
.contenedor-buscador .filtros-busqueda .fa-search {
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: absolute;
  top: 540px;
}
.contenedor-buscador .filtros-busqueda .busquedas-por {
  width: 50%;
  padding: 5px 35px;
  margin-left: 150px;
  font-weight: 500;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.contenedor-buscador .filtros-busqueda button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  color: #ffffff;
  text-transform: uppercase;
  border: transparent;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  padding: 10px;
}
.contenedor-tarjetas article {
  display: flex;
  flex-direction: column;
  width: calc(100% / 6 - 2 * 10px);
  height: 250px;
  margin: 20px;
}
.contenedor-tarjetas article .image-character {
  height: 100%;
  transition: 0.2s;
  border-bottom: 3px solid red;
}
.contenedor-tarjetas article .image-character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-tarjetas article .character-name {
  color: whitesmoke;
  padding: 16px 24px 17px 20px;
  background-color: #151515;
  transition: 0.2s;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.disable {
  color: grey;
}

.contenedor-review {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contenedor-review .comic-review {
  max-width: 350px;
  margin-right: 50px;
}
.contenedor-review .imagen-review {
  width: 100%;
}
.contenedor-review .personajes-review {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}
.contenedor-review .personajes-review article {
  display: flex;
  flex-direction: column;
  width: calc(100% / 6 - 2 * 10px);
  height: 250px;
  margin: 20px;
}
.contenedor-review .personajes-review article .image-character {
  height: 100%;
  transition: 0.2s;
  border-bottom: 3px solid red;
}
.contenedor-review .personajes-review article .image-character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contenedor-review .personajes-review article .character-name {
  color: whitesmoke;
  padding: 16px 24px 17px 20px;
  background-color: #151515;
  transition: 0.2s;
}

* {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
