@import '../abstracts/abstracts.scss';

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    @extend %centrar-flex-columna;
    
    h2{
        color: white;
        font-family: $tipografia-body;
        font-size: 15px;
        
        i{
            width: 30px;
            height: 30px;
            color: red;
            // font-size: 30px;
        }
    }
}

