@import '../abstracts/abstracts.scss';

.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;

    article{

        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 180px;
        height: auto;

        .image-comic{
            width: 80%;
            box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
            transform: translateY(0);
            transition: 0.2s;
           img{
           width: 100%;
           height: auto;
           } 
        }
        
        .comic-title{
            width: 170px;
            font-family: $tipografia-body;
            font-size: 14px;
            font-weight: bold;
            margin-top: 20px;
        }
    }
    
}
